@import "./reset.scss";
@import "./layout";

.admin-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 170px;
  padding-left: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid $element1;
  .title {
    width: 768px;
    padding-top: 5rem;
    box-sizing: border-box;
    h2 {
      font-family: $defaultNumFont;
      font-size: 18px;
      font-weight: 600;
    }
    .admin-list {
      display: flex;
      flex-direction: row;
      padding-top: 2.5rem;
      li {
        display: inline-block;
        padding-right: 3rem;
        font-family: $defaultNumFont;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 0.5rem;
        box-sizing: border-box;
        color: $element2;
      }
      li.show {
        color: $element3;
        border-bottom: 1px solid $element3;
      }
      li:hover {
        cursor: pointer;
        color: $element3;
        border-bottom: 1px solid $element3;
      }
    }
  }
}

.contents {
  display: flex;
  justify-content: center;
  .inner {
    width: 768px;
    padding-top: 2rem;
    box-sizing: border-box;
    .category-zone {
      .category-edit {
        .category-input {
          display: flex;
          flex-direction: row;
          li {
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            width: 150px;
            &:first-child {
              width: 120px;
              font-size: 14px;
            }
            input {
              border: 1px solid $element1;
              height: 30px;
              width: 140px;
              box-sizing: border-box;
              padding-left: 0.3rem;
            }
            button {
              outline: none;
              background-color: $element1;
              width: 60px;
              height: 30px;
              box-sizing: border-box;
            }
          }
        }
        .detailed-input {
          display: flex;
          flex-direction: row;
          margin-top: 0.5rem;
          li {
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            width: 150px;
            &:first-child {
              width: 120px;
              font-size: 14px;
            }
            select {
              width: 140px;
              height: 30px;
              box-sizing: border-box;
              border: 1px solid $element1;
              &:focus {
                outline: none;
              }
            }
            input {
              border: 1px solid $element1;
              height: 30px;
              width: 140px;
              box-sizing: border-box;
              padding-left: 0.3rem;
            }
            button {
              outline: none;
              background-color: $element1;
              width: 60px;
              height: 30px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
